@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body
{
  background: url(img/background.png); /* Добавляем фон */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#SideMenu
{
	position: fixed;
	display: flex;
	width:300px;
	flex-direction: column;

	justify-content: space-around;
	background-color: rgba(50, 6, 92,0.5);
	border-radius: 15px;
    transform: translate(-22px, -4%);

}


#conent_backgr
{
	position: absolute;
  z-index: 1;
}
#conent_info
{
position: relative;
width: 100%;
z-index: 2;
padding: 10% 15%;

}

#content
{
	
	width: 1000px;
	height: 1000px;
	margin-left: 20%;
}
.menu_button
{
	width: 200px;
	height: 120px;
	margin-left: 15%;
}
.game_logo
{
	float:left;
	width: 500px;
	height: 50%;
}

.description {
	margin-top: 10%;
   color: rgb(255,255,255);
   font-size: 25px;


text-shadow: 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18, -8px -8px 0px rgba(0,0,0,0);




}


